---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="About me" description="About me">
  <main class="flex flex-col items-center justify-center gap-3 p-6">
    <h1 class="text-5xl">About me</h1>
    <h2 class="text-2xl">Hi, I'm Rodrigo Garcia</h2>
    <p>I'm a software developer from Spain. Currently working as a Java Backend Developer at Arcadia Consulting.</p>
    <p>I've been programming little projects for fun and learning since I was 16, mostly related to video games.</p>
    <p>I started learning Python, then I went to the university of Burgos to study Computer Science, where I learned Java, C and C#, among other things.</p>
    <p>Then I went to the University of Oviedo to study a Master's degree in Web Development, where I learned HTML, CSS, JavaScript, Vue and Node.js.</p>
    <p>And now I'm working as a Java Backend Developer at Arcadia Consulting.</p>

    <h2 class="text-2xl">My interests</h2>
    <p>I'm a big fan of video games. I also like reading and watching stuff related to science fiction.</p>
    <p>I also like to listen to lots of music genres, like pop, rock, electronic, ska, etc.</p>
    <p>In the latest few years I've been travelling to different parts of Spain.</p>
    <a href="/" class="underline">Back to home</a>
  </main>
</Layout>
