---
import Layout from "@/layouts/Layout.astro";
import ProfileImage from "@/images/profile.jpg";
import {Image} from "astro:assets"
import Link from "@/components/Link.astro";
---

<Layout title="rogama25 homepage">
  <main class="grid-cols-1 sm:grid-cols-2 grid min-h-0 max-sm:min-h-0">
    <section class="flex flex-col items-center justify-center w-full p-5 gap-5">
      <h1 class="text-5xl">rogama25's website</h1>
      <Image src={ProfileImage} alt="profile image"
             class="rounded-full w-8/12 aspect-square"/>
    </section>
    <section class="h-fit sm:h-full overflow-auto">
      <div class="flex flex-col items-center justify-center w-full p-5 gap-5">
        <h1 class="text-5xl">Links</h1>
        <Link title="Twitter" image="mdi:twitter" link="https://twitter.com/rogama25"/>
        <Link title="Instagram" image="mdi:instagram" link="https://instagram.com/rogama25"/>
      </div>
    </section>
  </main>
</Layout>

<style>

</style>
