---
import Layout from "@/layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout title="My projects" description="My projects">
  <main class="flex flex-col items-center justify-center gap-3 p-6">
    <h1 class="text-5xl">My projects</h1>
    <ProjectCard title="rogama25 website" description="This website :D" slug="rogama25/rogama25.es"/>
    <ProjectCard title="UBUVoiceAssistant" description="Assistant for Moodle (end of degree project)" slug="rogama25/UBUVoiceAssistant"/>
    <ProjectCard title="Minecraft Server starter" description="A tool to power up a computer using magic packets (intended for a Minecraft server)" slug="rogama25/minecraft-server-starter"/>
    <ProjectCard title="Genshin coop finder" description="A website to find other players to coop world bosses and materials (WIP)" slug="rogama25/genshin-coop-finder"/>
    <ProjectCard title="CubicTranslate" description="A tool to help translate Minecraft mods" slug="rogama25/CubicTranslate"/>
    <ProjectCard title="Drinking water explorer" description="A website to find drinking water places" slug="rogama25/drinking-water-explorer"/>
    <p>(And currently working on more :P)</p>
    <a href="/" class="underline">Back to home</a>
  </main>
</Layout>
