---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Techs I use">
    <main class="flex flex-col items-center justify-center">
        <h1 class="text-5xl">Techs I use</h1>
        <p>WIP</p>
        <a href="/" class="underline">Back to home</a>
    </main>
</Layout>
