---
---
<div class="h-20 w-full">
  <div class="list-none flex justify-around h-full items-center bg-gray-800 max-sm:justify-between">
    <a href="/" class="nb-link">Socials</a>
    <a href="/projects" class="nb-link">Projects</a>
    <a href="/techs" class="nb-link">Technologies</a>
    <a href="/about" class="nb-link">About</a>
  </div>
</div>
<style>
  @tailwind base;

  @layer base {
    .nb-link:hover {
      @apply bg-orange-800;
    }

    .nb-link {
      height: 100%;
      display: flex;
      align-items: center;
      padding: min(1.5rem, 2.5vw);
    }
  }
</style>
