---
---
<div class="h-20 w-full">
  <ul class="list-none flex justify-around h-full items-center bg-gray-800 max-sm:justify-between">
    <li class="nb-link">
      <a href="/">Socials</a>
    </li>
    <li class="nb-link">
      <a href="/projects">Projects</a>
    </li>
    <li class="nb-link">
      <a href="/techs">Technologies</a>
    </li>
    <li class="nb-link">
      <a href="/about">About</a>
    </li>
  </ul>
</div>
<style>
  @tailwind base;

  @layer base {
    .nb-link:hover{
      @apply bg-orange-800;
    }

    .nb-link {
      height: 100%;
      display: flex;
      align-items: center;
      padding: min(1.5rem, 2.5vw);
    }
  }
</style>
